.footer {
  height: 180px;
  background-image: linear-gradient(#131921, #131921);
  z-index: 9;
  color: white;
  display: flex;
  flex-direction: row;
}
.item {
  justify-content: space-evenly;
  margin-top: 10px;
}
.hr {
  margin: 10px 10px;
}
.footer_left {
  max-width: 40%;
  width: 100%;
}
.footer_middle {
  max-width: 20%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 0;
}
.footer_right {
  max-width: 40%;
  width: 100%;
  margin-right: 50px;
}
